h1{
    text-align: center;
}
.links{
    text-align: center;
    border: 3px solid black;
    width: 500px;
    margin-left: 300px;

}
.container2{
    margin: auto;
    margin-top: 200px;
    width: 70%;
    padding: 20px;
    width: 600px;
    height: 300px;
    border: 6px solid black;
    box-sizing: border-box;
}